<div class="cabecera">
  <div class="row justify-content-center">
    <h2>Bienvenido al Sistema Asignación de Docentes</h2>
  </div>
</div>

<div class="cuerpo">
  <div align="center">
    <div class="container">
      <mat-form-field>
        <mat-label>Seleccionar</mat-label>
        <mat-select disableRipple [(ngModel)]="tablaSeleccionada" (selectionChange)="verDatos()">
          <mat-option>ninguno</mat-option>
          <mat-option *ngFor="let catalogo of listaCatalogos;let i = index " value={{i}}>{{catalogo.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      {{tablaSeleccionada}}
    </div>


    <div *ngIf="verTabla" class="mat-elevation-z8">

      <div>
        <mat-form-field>
          <input matInput (keyup)="buscar($event.target.value)" placeholder="Buscar">
        </mat-form-field>
      </div>

      <table mat-table [dataSource]="dataSource">

        <ng-container *ngFor="let columna of nombreColumnas" matColumnDef="{{columna}}">
          <th mat-header-cell *matHeaderCellDef> {{columna}} </th>
          <td mat-cell *matCellDef="let element"> {{element[columna]}} </td>
        </ng-container>

        <ng-container matColumnDef="star" stickyEnd>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>more_vert</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nombreColumnas"></tr>
        <tr mat-row *matRowDef="let row; columns: nombreColumnas;" class="example-element-row"
          (click)="openDialog(row)">
        </tr>

      </table>
      <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>



<div class="lateral">
  <nav id="sidebar" class=" bg bg-primary">
    <div class="sidebar-header  bg bg-primary">
      <h3>NAVEGACIÓN</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Registro y Asignación</p>

      <li>
        <a routerLink="/docente">Asignar Docente</a>
      </li>

      <li>
        <a href="#">Estudiantes</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <div class="row justify-content-center">
          <img src="../../assets/icon/file_pdf_download_icon-icons.com_68954.png">
        </div>
        <br>
        <div align="center">
          <button (click)="verpdf()">DESCARGAR</button>
        </div>
      </li>
    </ul>

  </nav>

  <div class="pie">
    <div class="container-fluid">
      <nav class="bg bg-primary fixed-bottom">
        <div class="justify-content-center">
          <h6 style="color:aliceblue" align="center">Contactanos:098564484 - Desarrollo de Software</h6>
        </div>
      </nav>
  </div>
</div>